NEXT_PUBLIC_EBOOK_FORM_URL=https://tally.so/r/q4z8l9
NEXT_PUBLIC_SURVEY_FORM_URL=https://tally.so/r/eqzgbe
NEXT_PUBLIC_WAITLIST_FORM_URL=https://tally.so/r/q4z8l9
NEXT_PUBLIC_FIRST_GROUP_FORM_URL=https://tally.so/r/D4a6NE
